<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Proendoscopy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>169FCA011C0E711200C98723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>169FCA1D1C0E711300C98723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>169FCA281C0E711300C98723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
